*

!Makefile
!LICENCE
!README.md
!default.json
!.gitignore

!public/
!public/images/
!public/images/*
!public/testsite/
!public/testsite/*
!public/documents/
!public/documents/*

!includes/
!includes/*.hpp

!srcs/
!srcs/*.cpp
!srcs/load/
!srcs/json/
!srcs/sock/
!srcs/*/*.cpp
