*

!Makefile
!LICENCE
!README.md
!default.json
!.gitignore

!includes/
!includes/*.hpp

!srcs/
!srcs/*.cpp
!srcs/load/
!srcs/json/
!srcs/sock/
!srcs/*/*.cpp

!public/
!public/*
!public/*/*
!public/resources/docs/*
!public/resources/img/*

!Doxyfile
!html/
!html/*
!html/search/*
